@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  min-height: 100vh;
  height: -webkit-fill-available;
  background-position: bottom;
  background: #0c122c url(../images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about {
  background-color: #1d2c67;
  width: 100%;
  /* not needed */
  max-width: 19rem;
  padding: 1.8rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border-top-right-radius: 5rem;
}

.about .logo {
  height: 2rem;
  margin-bottom: 2.3rem;
}

.about .logo .img {
  height: 100%;
}

.about .icons .icon {
  background-color: #0c122c;
  border-radius: .5rem;
  margin-right: 1rem;
  padding: .6rem;
}

.about .icons .icon img {
  width: 1.2rem;
  vertical-align: middle;
  /* for some reasons, it is working */
}

.storage {
  width: 100%;
  /* can ditched */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 2rem 2.5rem;
  border-radius: .5rem;
  position: relative;
  color: #dddbff;
  font-family: 'raleway', sans-serif;
  background-color: #1d2c67;
}

.storage > p, .storage .text {
  font-size: .7rem;
  text-align: center;
}

.storage .bar-container {
  height: 1rem;
  background-color: #0c122c;
  margin-block: 1rem .5rem;
  padding: 2px;
  border-radius: .5rem;
}

.storage .bar-container .bar {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  height: 100%;
  width: 80%;
  border-radius: inherit;
  padding: .5px;
  padding-right: 2px;
}

.storage .bar-container .circle {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  margin-left: auto;
  background-color: #fff;
}

.storage .text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage span, .storage .text {
  font-weight: 700;
}

.storage .outcast {
  width: 9rem;
  padding: .7rem 1rem;
  border-radius: .5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  /* 0-0- */
  font-size: .6rem;
  font-weight: 700;
  background-color: #fff;
  color: #848794;
}

.storage .outcast span {
  color: #0c122c;
  font-size: 2rem;
  vertical-align: middle;
  padding-right: .5rem;
}

/* Desktop */
@media (min-width: 750px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #0c122c url(../images/bg-desktop.png) no-repeat bottom;
    background-size: contain;
  }
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-inline: auto;
    max-width: 52rem;
  }
  .wrapper > * {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .about {
    margin: 0;
    margin-right: 2rem;
  }
  .storage {
    max-width: 31rem;
  }
  .storage .outcast {
    bottom: initial;
    left: initial;
    top: 0;
    right: 2rem;
    -webkit-transform: translate(0%, -70%);
            transform: translate(0%, -70%);
    /* 0-0- */
    border-bottom-right-radius: initial;
  }
  .storage .outcast::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    right: 0;
    bottom: -19px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    background-color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */